<div class="container">
	<div class="h_left jumbotron">
		<center> <img src="web/images/basureroVerdeImagen.jpg" alt="" width="300" height="300"> </center>
		<h2>En esta página podrás encontrar información que te permitirá saber qué hacer con
			los productos en desuso que se generan en tu hogar o en cualquier lugar en el que
			te encuentres.
		</h2>
	</div>
	<div class="clear"></div>
</div>

<br><br>

<div class="main_bg">
	<div class="wrap">
		<div class="main">
			<!-- end popup -->
			<!-- start gallery  -->
			<div class="container">
				<ul id="filters" class="clearfix">
					<li><h3><a style="text-decoration:none;" ng-click="filtradoPorTipo('Todos')" href=""><font color="white">Todos</font></a></h3></li> -
					<li><h3><a style="text-decoration:none;" ng-click="filtradoPorTipo('Azul')" href=""><font color="white">Azul</font></a></h3></li> -
					<li><h3><a style="text-decoration:none;" ng-click="filtradoPorTipo('Amarillo')" href=""><font color="white">Amarillo</font></a></h3></li> -
					<li><h3><a style="text-decoration:none;" ng-click="filtradoPorTipo('Verde')" href=""><font color="white">Verde</font></a></h3></li> -
					<li><h3><a style="text-decoration:none;" ng-click="filtradoPorTipo('Rojo')" href=""><font color="white">Rojo</font></a></h3></li> -
					<li><h3><a style="text-decoration:none;" ng-click="filtradoPorTipo('Negro/Gris')" href=""><font color="white">Negro/Gris</font></a></h3></li> -
					<li><h3><a style="text-decoration:none;" ng-click="filtradoPorTipo('Naranja')" href=""><font color="white">Naranja</font></a></h3></li>
				</ul>
				<div class="row">
					<div class="col-xs-6 col-md-3" ng-repeat="producto in listaProductos">
						<a style="text-decoration:none;" ng-click="abrirPopUpProducto(producto)" href="" class="thumbnail">
							<img ng-src="{{producto.imagen}}" height="150" width="150" />
							<h3 style="text-align:center;">{{producto.nombre}}</h3>
						</a>
					</div>
				</div>
			</div><!-- end container -->
		</div>
	</div>
</div>